<div id="popularCategory" class="grid_12">
	<h2>Popular Categories</h2>
	<div class="popularCategoryList clearfix">
		<ul class="grid_2 alpha">
			<li class="catImage"><a href="#" title="Beds"><img src="/_assets/global/images/category/catBed.jpg" height="94" width="146" alt="Popular Category Image" /></a></li>
			<li class="catCaption"><a href="#" title="Beds">Bed</a></li>
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
		<ul class="grid_2">
			<li class="catImage"><a href="#" title="Beds"><img src="/_assets/global/images/category/catBath.jpg" height="94" width="146" alt="Popular Category Image" /></a></li>
			<li class="catCaption"><a href="#" title="Beds">Bath</a></li>
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
		<ul class="grid_2">
			<li class="catImage"><a href="#" title="Beds"><img src="/_assets/global/images/category/catKitchen.jpg" height="94" width="146" alt="Popular Category Image" /></a></li>
			<li class="catCaption"><a href="#" title="Beds">Kitchen</a></li>
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
		<ul class="grid_2">
			<li class="catImage"><a href="#" title="Beds"><img src="/_assets/global/images/category/catDecor.jpg" height="94" width="146" alt="Popular Category Image" /></a></li>
			<li class="catCaption"><a href="#" title="Beds">Decor</a></li>
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
		<ul class="grid_2">
			<li class="catImage"><a href="#" title="Beds"><img src="/_assets/global/images/category/catStorage.jpg" height="94" width="146" alt="Popular Category Image" /></a></li>
			<li class="catCaption"><a href="#" title="Beds">Storage &amp; Cleaning</a></li>
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
		<ul class="grid_2 omega">
			<li class="catImage"><a href="#" title="Beds"><img src="/_assets/global/images/category/catOutdoor.jpg" height="94" width="146" alt="Popular Category Image" /></a></li>
			<li class="catCaption"><a href="#" title="Beds">Outdoor</a></li>
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
	</div>
</div>