<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>BBB Store</display-name>
    <context-param>
        <param-name>atg.session.parentContextName</param-name>
        <param-value>/dyn</param-value>
    </context-param>
    <context-param>
        <param-name>atg.dafear.bootstrapContextName</param-name>
        <param-value>/dyn</param-value>
    </context-param>
    <context-param>
        <param-name>context-root</param-name>
        <param-value>store</param-value>
    </context-param>


    <filter>
        <filter-name>PageFilter</filter-name>
        <filter-class>atg.filter.dspjsp.PageFilter</filter-class>
    </filter>
    <!-- Below filter needs to be uncommented if there is a requirement to
    handle the failover for overloaded server due to high session count -->
    <!-- filter>
        <filter-name>PageFilter</filter-name>
        <filter-class>com.bbb.framework.pagefilter.BBBPageFilter</filter-class>
    </filter-->
    <filter>
        <filter-name>ForwardFilter</filter-name>
        <filter-class>atg.servlet.ForwardFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ErrorFilter</filter-name>
        <filter-class>atg.servlet.ErrorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
	<filter>
        <filter-name>HideUrlSessionFilter</filter-name>
        <filter-class>
            com.bbb.framework.security.HideUrlSessionFilter
        </filter-class>
    </filter>

 
    <filter-mapping>
        <filter-name>HideUrlSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ErrorFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/static/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/images/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
        <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/personalstore/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/SameDayDelivery/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/registry/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
        <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/category/custom/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping> 
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/category/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/checklist/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/product/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/guide/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/selfservice/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/gr/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/page/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/account/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/wishlist/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/bbregistry/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/email/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/brand/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/s/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/null/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/kickstarters/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
     <filter-mapping>
            <filter-name>UrlRewriteFilter</filter-name>
            <url-pattern>/topconsultant/*</url-pattern>
            <dispatcher>REQUEST</dispatcher>
            <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
     <filter-mapping>
            <filter-name>UrlRewriteFilter</filter-name>
            <url-pattern>/shopthislook/*</url-pattern>
            <dispatcher>REQUEST</dispatcher>
            <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/mx/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/checkoutSuccess/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/checkoutPending/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/checkoutFailure/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/cart/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/paypalReturn/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/paypalCancel/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/couponWallet/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/cw/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
        
    <!-- filter-mapping>
        <filter-name>ForwardFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping-->

    
    <servlet>
        <servlet-name>MappedJumpServlet</servlet-name>
        <servlet-class>atg.repository.seo.MappedJumpServlet</servlet-class>
        <init-param>
            <param-name>loggingDebug</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>jumpServlet</param-name>
            <param-value>
        ctx:dynamo:/atg/dynamo/servlet/dafpipeline/JumpServlet
      </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>NucleusServlet</servlet-name>
        <servlet-class>atg.nucleus.servlet.NucleusServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DynamoProxyServlet</servlet-name>
        <servlet-class>atg.nucleus.servlet.NucleusProxyServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SimpleCaptcha</servlet-name>
        <servlet-class>com.bbb.browse.BBBCaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DynamoProxyServlet</servlet-name>
        <url-pattern>/dyn/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MappedJumpServlet</servlet-name>
        <url-pattern>/mobile/product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NucleusServlet</servlet-name>
        <url-pattern>/nucleus/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleCaptcha</servlet-name>
        <url-pattern>/simpleCaptcha.png</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/cms/homepage.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/global/serverError.jsp</location>
	</error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/global/serverError.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/global/sessionExpired.jsp</location>
    </error-page>
    <jsp-config>
        <taglib>
            <taglib-uri>/BBBLabel</taglib-uri>
            <taglib-location>/WEB-INF/tld/BBBLblTxt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/BBBTextArea</taglib-uri>
            <taglib-location>/WEB-INF/tld/BBBLblTxt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/BBBError</taglib-uri>
            <taglib-location>/WEB-INF/tld/BBBLblTxt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/BBBConfig</taglib-uri>
            <taglib-location>/WEB-INF/tld/BBBLblTxt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/TPSwitch</taglib-uri>
            <taglib-location>/WEB-INF/tld/TPSwitch.tld</taglib-location>
        </taglib>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <!-- Third Party like TeaLeaf requires scripting to be enabled -->
            <scripting-invalid>false</scripting-invalid>
            <include-prelude>/includes/prelude.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
