<div id="popularCategory" class="grid_12">
	<h2>Categories</h2>
	<div class="popularCategoryList clearfix">
		<ul class="grid_2 alpha">
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
		<ul class="grid_2">
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
		<ul class="grid_2">
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
		<ul class="grid_2">
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
		<ul class="grid_2">
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
		<ul class="grid_2 omega">
			<li><a href="#" title="Bedding">Bedding</a></li>
			<li><a href="#" title="Beds & Mattresses">Beds & Mattresses</a></li>
			<li><a href="#" title="Bedroom Decor">Bedroom Decor</a></li>
			<li><a href="#" title="Closet & Laundry">Closet & Laundry</a></li>
			<li><a href="#" title="College & Dorm">College & Dorm</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>